<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Giridhar Salana's Webpage">
    <meta name="author" content="GiridharSalana">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Giridhar Salana | Electronics Engineer</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/About_assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/About_assets/css/font-awesome.css">

    <link rel="stylesheet" href="/static/About_assets/css/style.css">
    </head>

    <body>


    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="https://giridharsalana.netlify.app/" class="logo">
                            <img src="/static/About_assets/images/logo.png" alt="Giridhar Salana"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#home" id="homewp" class="active">Home</a></li>
                            <li><a href="#about" id="aboutwp">About</a></li>
                            <li><a href="#collab" id="collabwp">Collab</a></li>
                            <li><a href="#qoutes" id="qouteswp">Qoutes</a></li>
                            <li><a href="#goals" id="goalswp">Goals</a></li>
                            <li><a href="#contact-me" id="contact-mewp">Contact</a></li>
                            <li><a href="#follow-me" id="follow-mewp">Follow</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <br><br><br>
                        <h2 id="home">Hi There!</h2>
                        <h1>I'm Giridhar Salana</h1>
                        <div id="colorchange"><div class="typewriter"><div id="typewriter"></div></div></div>
                        <br><br>
                        <a href="#about" class="main-button-slider">Know More About Me</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->

                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="/static/About_assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Loves Electronics</h5>
                                <p>That's why i am an electronics engineer</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="/static/About_assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Wanted to be a Scientist</h5>
                                <p>It's still a dream</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                <i><img src="/static/About_assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Curious Creature</h5>
                                <p>Everything is an experiment for me</p>
                            </div>
                        </div>

                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="/static/About_assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Who Am I</h2>
                    </div>
                    <div class="left-text">
                        <p>I am Giridhar Salana, I'm an Electronics Engineer and Curious Self learning Coder From INDIA </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row"  id="collab">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Lets build Something.</h2>
                    </div>
                    <div class="left-text">
                        <p>I'm eagerly waiting to contribute to opensource projects in my leisure time. Lets collaborate and build something.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="/static/About_assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->



<!-- Qoutes Section begin -->


    <section class="section padding-top-70 padding-bottom-0" >
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 col-md-12 col-sm-15 align-self-center mobile-top-fix">
                    <div class="center-heading">
                        <h2 class="section-title" id="qoutes">Qoutes</h2>
                    </div>
                    <div class="center-text">
                        <br>
                        <div>A life without a goal is like a cricket without a wicket.<strong> &nbsp; &nbsp;- Giridhar Salana</strong></div>
                    </div>
                    </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Qoutes Section end -->






    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" >
        <div class="mini-content">
            <div class="container" id="goals">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>My 2020 Goals</h1>
                            <p>These are the some of the goals that i want to acheive in this year.</p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/static/About_assets/images/work-process-item-01.png" alt=""></i>
                            <strong>Speak Well</strong>
                            <span>Learn to Speak well.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/static/About_assets/images/work-process-item-01.png" alt=""></i>
                            <strong>Learn Python</strong>
                            <span>Learn Python Language.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/static/About_assets/images/work-process-item-01.png" alt=""></i>
                            <strong>Read Books</strong>
                            <span>Read some books.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/static/About_assets/images/work-process-item-01.png" alt=""></i>
                            <strong>Daily Walk</strong>
                            <span>Regular morning walk.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/static/About_assets/images/work-process-item-01.png" alt=""></i>
                            <strong>Learn Hindi</strong>
                            <span>Learn to speak Hindi.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="/static/About_assets/images/work-process-item-01.png" alt=""></i>
                            <strong>Listen Well</strong>
                            <span>Learn to Listen others .</span>
                        </a>
                    </div>
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

      <!-- ***** Contact Us Start ***** -->
    <section class="section colored" >
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row" id="contact-me">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Want to say something</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Anything to Say? just mail me to <a href="mailto:giridharsalna@gmail.com">giridharsalana@gmail.com</a></p>
                        <p> Or You can write me here</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Keep in touch</h5>
                    <div class="contact-text">
                        <p>Giridhar Salana
                        <br>Pathapatnam,Srikakulam,<br> Andhrapradesh-532215, India</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" method="POST" data-netlify="true">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social" id="follow-me">
                        <li><a href="https://www.facebook.com/GiridharSalana" target="blank"><i class="fa fa-facebook" ></i></a></li>
                        <li><a href="https://www.twitter.com/GiridharSalana3" target="blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/Giridhar-Salana" target="blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC9dBsYIehAFklVv5FnQs_eg" target="blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://github.com/Giridharsalana"><i class="fa fa-github" target="blank"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; Giridhar Salana 2020</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/About_assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/About_assets/js/popper.js"></script>
    <script src="/static/About_assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/About_assets/js/scrollreveal.min.js"></script>
    <script src="/static/About_assets/js/waypoints.min.js"></script>
    <script src="/static/About_assets/js/jquery.counterup.min.js"></script>
    <script src="/static/About_assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/static/About_assets/js/custom.js"></script>

    <!-- Typewriter init -->
    <script src='.//static/About_assets/js/Typewriter.js'></script>

    <script type='text/javascript'>
      const typewriter = new Typewriter('#typewriter', {
        loop: true,
      });

      typewriter.typeString('Electronics Engineer')
        .pauseFor(1500)
        .deleteChars(8)
        .typeString('Hobbyist')
        .pauseFor(1500)
        .deleteAll()
        .typeString('Tech Enthusiast')
        .pauseFor(1500)
        .deleteAll()
        .typeString('A Geeky Coder')
        .pauseFor(1500)
        .deleteAll()
        .typeString('A Curious Being')
        .pauseFor(1500)
        .deleteAll()
        .typeString('An Overthinker')
        .pauseFor(1500)
        .deleteAll()
        .start();
    </script>
    <!-- colorchange  -->
    <script>
    var color = ["white", "blue", "green", "red"];
    counter1 = Math.floor(Math.random() * 4);
    //var counter1 = 0;
    elem1 = document.getElementById("colorchange");
    var inst1 = setInterval(colorchange, 2000);
    function colorchange()
    {
    elem1.style.color = color[counter1];
    counter1++;
    if (counter1 >= color.length)
    {
        counter1 = 0;
        // clearInterval(inst); // uncomment this if you want to stop refreshing after one cycle
    }
    }
   colorchange()
    </script>
 <!-- END -->
  </body>
</html>
